<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plural Forms by Country</title>
    <style>
        body {
            font-family: sans-serif;
            margin: 40px;
        }

        .left {
            float: left;
            margin-top: 0;
        }

        .right {
            float: right;
        }

        .clear {
            clear: both;
        }

        hr {
            border: 0;
            background: #e0e0e0;
            height: 1px;
            margin: 40px 0;
        }

        tr > * {
            text-align: left;
            padding: 0 8px;
            line-height: 24px;
        }

        tr:not(:last-child) > *,
        thead > tr > * {
            border-bottom: 1px solid #e0e0e0;
        }

        .mono {
            font-family: monospace;
        }

        .text-right {
            text-align: right;
        }

        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<h1 class="left">Plural Forms by Country</h1>
<a class="right" href="https://github.com/darosh/plural-forms-by-country">GitHub</a>
<div class="clear"></div>
<h2>Forms</h2>
<svg class="forms" width="960" height="375"></svg>
<hr>
<h2>Rules</h2>
<svg class="rules" width="960" height="375"></svg>
<hr>
<h2>Languages</h2>
<svg class="languages" width="960" height="375"></svg>
<hr>
<div id="app">
    <h2>Countries</h2>
    <table v-cloak>
        <thead>
        <tr>
            <th>#</th>
            <th>Country</th>
            <th>Languages</th>
            <th>Forms</th>
            <th>Languages (Forms)</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(country, index) in country" v-if="country.languages.length">
            <td class="mono text-right">{{index + 1}}</td>
            <th>{{country.name}}</th>
            <td class="mono">{{country.languages.length}}</td>
            <td class="mono">[{{country.forms.join(', ')}}]</td>
            <td>
                <div v-for="language in country.languages">
                    {{data.language[language].name}} <span
                        class="mono">({{data.language[language].plural.length}})</span>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <hr>
    <h2>Languages</h2>
    <table v-cloak>
        <thead>
        <tr>
            <th>#</th>
            <th>Languages</th>
            <th>Keywords</th>
            <th>Forms</th>
            <th>Rule</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(language, index) in language">
            <td class="mono text-right">{{index + 1}}</td>
            <th>{{language.name}}</th>
            <td class="mono">{{language.plural.join(', ')}}</td>
            <td class="mono">({{language.plural.length}})</td>
            <td class="mono">r{{language.rule + 1}}</td>
        </tr>
        </tbody>
    </table>
</div>
<script src="//unpkg.com/d3@4.7.4/build/d3.min.js"></script>
<script src="//unpkg.com/topojson-client@3.0.0/dist/topojson-client.min.js"></script>
<script src="//unpkg.com/vue@2.2.6/dist/vue.min.js"></script>
<script>
    var width = 960;
    var height = 480;
    var add = 0;

    var clip = [[0, 960], [15, 390]];

    var projection = d3.geoEquirectangular()
        .clipExtent([[0, 0], [width, clip[1][1]]])
        .scale(height / Math.PI)
        .rotate([-10])
        .translate([width / 2, height / 2 - clip[1][0]]);

    var path = d3.geoPath()
        .projection(projection);

    var svg;
    var defs;

    d3.queue()
        .defer(d3.json, './data/world.json')
        .defer(d3.json, './data/country-language.json')
        .await(ready);

    function ready(error, world, countryLanguage) {
        if (error) {
            throw error;
        }

        svg = d3.select('svg.forms')
            .attr('width', width)
            .attr('height', clip[1][1] - clip[1][0]);

        defs = svg.append('defs');

        svg.selectAll('.land')
            .data(topojson.feature(world, world.objects.countries).features)
            .enter()
            .append('path')
            .attr('class', 'land')
            .attr('fill', d => fill(d, countryLanguage))
            .attr('d', path);

        svg.append('path')
            .datum(topojson.mesh(world, world.objects.countries))
            .attr('class', 'boundary')
            .attr('fill', 'none')
            .attr('stroke', '#000')
            .attr('stroke-width', 0.5)
            .attr('d', path);

        var ls = 20;
        var lp = [0, clip[1][1] - clip[1][0] - 6 * ls];

        svg.selectAll('.legend')
            .data(d3.range(1, 7))
            .enter()
            .append('rect')
            .attr('x', lp[0])
            .attr('y', (d, i) => i * ls + lp[1])
            .attr('width', ls)
            .attr('height', ls)
            .attr('fill', color);

        svg.selectAll('.legend-label')
            .data(d3.range(1, 7))
            .enter()
            .append('text')
            .attr('x', lp[0] + ls / 2)
            .attr('y', (d, i) => i * ls + lp[1] + ls / 2)
            .attr('text-anchor', 'middle')
            .attr('dominant-baseline', 'central')
            .attr('font-family', 'sans-serif')
            .attr('font-size', 14)
            .attr('font-weight', 'bold')
            .text(d => d);

        svg.selectAll('.legend-stat')
            .data(d3.range(1, 7))
            .enter()
            .append('text')
            .attr('x', lp[0] + +ls + ls + ls / 2)
            .attr('y', (d, i) => i * ls + lp[1] + ls / 2)
            .attr('text-anchor', 'end')
            .attr('dominant-baseline', 'central')
            .attr('font-family', 'sans-serif')
            .attr('font-size', 14)
            .text(d => Object.keys(countryLanguage.country).filter(f => countryLanguage.country[f].forms.indexOf(d) >= 0).length);

        svg = d3.select('svg.rules')
            .attr('width', width)
            .attr('height', clip[1][1] - clip[1][0] + add);

        defs = svg.append('defs');

        svg.selectAll('.land')
            .data(topojson.feature(world, world.objects.countries).features)
            .enter()
            .append('path')
            .attr('class', 'land')
            .attr('fill', d => fillRules(d, countryLanguage))
            .attr('d', path);

        svg.append('path')
            .datum(topojson.mesh(world, world.objects.countries))
            .attr('class', 'boundary')
            .attr('fill', 'none')
            .attr('stroke', '#000')
            .attr('stroke-width', 0.5)
            .attr('d', path);

        svg.selectAll('.legend-label')
            .data(d3.range(1, 7))
            .enter()
            .append('text')
            .attr('x', lp[0] + ls / 2)
            .attr('y', (d, i) => i * ls + lp[1] + ls / 2 + add)
            .attr('text-anchor', 'middle')
            .attr('dominant-baseline', 'central')
            .attr('font-family', 'sans-serif')
            .attr('font-size', 14)
            .attr('font-weight', 'bold')
            .text(d => d);

        svg.selectAll('.legend')
            .data(d3.range(1, 7))
            .enter()
            .append('g')
            .selectAll('.legend')
            .data(d => countryLanguage.rules[d])
            .enter()
            .append('rect')
            .attr('x', (d, i) => lp[0] + i * ls + ls)
            .attr('y', (d, i) => (d.length - 1) * ls + lp[1] + add)
            .attr('width', ls)
            .attr('height', ls)
            .attr('fill', d => colorRules(d, countryLanguage));

        svg.selectAll('.legend-stat')
            .data(d3.range(1, 7))
            .enter()
            .append('g')
            .selectAll('.legend-stat')
            .data(d => countryLanguage.rules[d])
            .enter()
            .append('text')
            .attr('x', (d, i) => lp[0] + i * ls + ls + ls / 2)
            .attr('y', (d, i) => (d.length - 1) * ls + lp[1] + ls / 2 + add)
            .attr('text-anchor', 'middle')
            .attr('dominant-baseline', 'central')
            .attr('font-family', 'sans-serif')
            .attr('font-size', 14)
            .text(d => d.country.length);

        var langs = {};

        Object.keys(countryLanguage.country).forEach(l => {
            var n = countryLanguage.country[l].languages.length;

            if (n > 0) {
                langs[n] = langs[n] || 0;
                langs[n]++;
            }
        });

        svg = d3.select('svg.languages')
            .attr('width', width)
            .attr('height', clip[1][1] - clip[1][0] + add);

        svg.selectAll('.land')
            .data(topojson.feature(world, world.objects.countries).features)
            .enter()
            .append('path')
            .attr('class', 'land')
            .attr('fill', d => fillLanguages(d, countryLanguage, langs))
            .attr('d', path);

        svg.append('path')
            .datum(topojson.mesh(world, world.objects.countries))
            .attr('class', 'boundary')
            .attr('fill', 'none')
            .attr('stroke', '#000')
            .attr('stroke-width', 0.5)
            .attr('d', path);

        svg.selectAll('.legend')
            .data(d3.range(1, 7))
            .enter()
            .append('rect')
            .attr('x', lp[0])
            .attr('y', (d, i) => i * ls + lp[1])
            .attr('width', ls)
            .attr('height', ls)
            .attr('fill', color);

        svg.selectAll('.legend-label')
            .data(Object.keys(langs))
            .enter()
            .append('text')
            .attr('x', lp[0] + ls / 2)
            .attr('y', (d, i) => i * ls + lp[1] + ls / 2)
            .attr('text-anchor', 'middle')
            .attr('dominant-baseline', 'central')
            .attr('font-family', 'sans-serif')
            .attr('font-size', 14)
            .attr('font-weight', 'bold')
            .text(d => d);

        svg.selectAll('.legend-stat')
            .data(Object.keys(langs))
            .enter()
            .append('text')
            .attr('x', lp[0] + +ls + ls + ls / 2)
            .attr('y', (d, i) => i * ls + lp[1] + ls / 2)
            .attr('text-anchor', 'end')
            .attr('dominant-baseline', 'central')
            .attr('font-family', 'sans-serif')
            .attr('font-size', 14)
            .text(d => langs[d]);

        new Vue({
            el: '#app',
            data: {
                data: countryLanguage,
                country: Object.keys(countryLanguage.country).map(k => countryLanguage.country[k]).sort((a, b) => a.name.localeCompare(b.name)),
                language: Object.keys(countryLanguage.language).map(k => countryLanguage.language[k]).sort((a, b) => a.name.localeCompare(b.name))
            }
        })
    }

    var color = d3.scaleLinear()
        .domain([1, 2, 3, 4, 5, 6])
        .range(['#00bfff', '#2da2a3', '#37b35b', '#8fdf29', '#e5ea11', '#ffd700']);

    function colorRules(d, countryLanguage) {
        var a = countryLanguage.rules[d.length];
        var i = a.indexOf(d);
        return d3.color(color(d.length)).brighter(1 * i / a.length);
    }

    function fill(d, countryLanguage) {
        return ((d.id > 0) && (countryLanguage.country[d.id].forms.length))
            ? countryLanguage.country[d.id].forms.length === 1
                ? color(countryLanguage.country[d.id].forms[0])
                : pattern(countryLanguage.country[d.id].forms)
            : 'transparent'
    }

    function fillLanguages(d, countryLanguage, langs) {
        return ((d.id > 0) && (countryLanguage.country[d.id].forms.length))
            ? color(Object.keys(langs).indexOf(countryLanguage.country[d.id].languages.length.toString()) + 1)
            : 'transparent'
    }

    function fillRules(d, countryLanguage) {
        if ((d.id > 0) && (countryLanguage.country[d.id].forms.length)) {
            var colors = [];

            countryLanguage.country[d.id].forms.forEach(r => {
                var f = countryLanguage.rules[r].filter(s => s.country.indexOf(d.id) >= 0);
                f.forEach(d => {
                    colors.push(colorRules(d, countryLanguage));
                })
            });

            return colors.length === 1 ? colors[0] : patternRules(colors);
        } else {
            return 'transparent';
        }
    }

    function pattern(forms) {
        var n = 'pattern-' + forms.join('-');
        var s = 3;

        if (defs.selectAll('#' + n).nodes().length) {
            return 'url(#' + n + ')';
        } else {
            var p = defs.append('pattern')
                .attr('id', n)
                .attr('width', forms.length * s)
                .attr('height', s)
                .attr('patternUnits', 'userSpaceOnUse');

            p.selectAll('rect').data(forms)
                .enter()
                .append('rect')
                .attr('fill', color)
                .attr('x', (d, i) => i * s)
                .attr('y', 0)
                .attr('width', s)
                .attr('height', s);

            return 'url(#' + n + ')';
        }
    }

    function patternRules(colors) {
        var n = 'pattern-' + colors.join('-').replace(/, /g, '-').replace(/[()]/g, '-');
        var s = 3;

        if (defs.selectAll('#' + n).nodes().length) {
            return 'url(#' + n + ')';
        } else {
            var p = defs.append('pattern')
                .attr('id', n)
                .attr('width', colors.length * s)
                .attr('height', s)
                .attr('patternUnits', 'userSpaceOnUse');

            p.selectAll('rect').data(colors)
                .enter()
                .append('rect')
                .attr('fill', d => d)
                .attr('x', (d, i) => i * s)
                .attr('y', 0)
                .attr('width', s)
                .attr('height', s);

            return 'url(#' + n + ')';
        }
    }
</script>
</body>
</html>
